{% extends 'base.html' %}

{% block title %}
    <title> Todo List Manage - TaskMate</title>
{% endblock title %}

{% block content %}
    <div class="container">
        {% if  messages%}
            {% for message in  messages%}
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        
        <h1>{{task_text}}</h1>
        <br>

        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <input type="text" class="form-control" name="task" placeholder="New Task">
            </div>
            <button type="submit" class="btn btn-primary">Add Task</button>
          </form>

        <br>

        <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Task</th>
                <th scope="col">Done</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
                {% if all_tasks %}
                    {% for obj in all_tasks %}
                        {% if obj.done %}
                            <tr class="table-success">
                                <th scope="row">{{obj.id}}</th>
                                <td>{{obj.task}}</td>
                                <td>Completed</td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% else %}
                            <tr>
                                <th scope="row">{{obj.id}}</th>
                                <td>{{obj.task}}</td>
                                <td>Not Completed</td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endif %}
                    {% endfor %}  
                {% endif %}
                
            </tbody>
          </table>

    </div>
{% endblock content %}